<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
</head>
<body>
    <p><a href="/"><- upload again</a></p>
    <h1>#{ title } post created</h1>
    <p>with #{ postId }</p>
    <img alt="" src="/images/#{ postId }.png" />
</body>
</html>